<h1>FCC Timestamp Microservice</h1>
<h2>Example usage:</h2>
<a href='{{ url1 }}'>
  <p>{{ url1 }}</p>
</a>
<a href='{{ url2 }}'>
  <p>{{ url2 }}</p>
</a>
<h2>Example output:</h2>
<p>{ "unix": "{{ unix }}", "natural": "{{ natural }}" }</p>

