<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>

<div class="row">
  <div class="col">
    <p> I see that:</p>
    <ul>
      <li>You are coming from {{ ip }} </li>
      <li> Your language is {{ lang }}</li>
      <li> Your operating system is {{ os }} </li>
    </ul>
    <p> To retrieve this data in json format use: <a href="{{ url }}/header-parser/json">{{ url }}/header-parser/json</a> </p>
  </div>
</div>

<div class="row">
  <div class="col">
    <hr>
  </div>
</div>
